<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
   <!-- Navbar  -->
      <nav class="navbar navbar-expand-lg bg-dark">
         <div class="container">
            <!-- href harus sesuai dengan yang di controller  -->
            <a class="navbar-brand text-light "  href="/homeIndex">Go crudOne</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
               <li class="nav-item">
                  <a class="nav-link active text-light "href="/homeIndex">Products1</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active text-light" href="/homeIndex">Categories</a>
               </li>
            </ul>
            </div>
         </div>
      </nav>
   
   <!-- end Navbar  -->

      <div class="container mt-3">
         <h1>Hello, World!</h1>
      </div>
  </body>
</html>